---
import Section from "./Section.astro";
---
<Section title="Accesorios" subtitle="" color="black">
	<div slot="footer" class="gap-x-4 flex mx-auto">
        <a href="#" class="border-[3px] border-black border-opacity-5 bg-black bg-opacity-60 rounded text-sm font-medium text-white px-12 py-2 inline-block transition-colors hover:bg-gray-600 hover:border-gray-600"> Saber más</a>
  
</div>
	<img slot="background" src="/accessories.avif" alt="Model Y" class="h-full w-full object-cover object-c">
</Section> 