---
import Section from "./Section.astro";
---
<Section title="Disfrute de Tesla" subtitle="Programe una prueba de conduccion hoy mismo" color="white">
	<div slot="footer">
		<a href="#" class=" border-[3px] border-white bg-white/5 backdrop-blur-xl rounded text-sm font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"> Prueba de conduccion</a>
	</div>

	<video
		slot = 'background'
		class="object-center object-cover h-full w-full"
		src="/videos.webm"
		autoplay
		muted
		loop></video>
</Section> 
<!-- <section
			class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
			data-header-color ="white"
		>
		<div class="z-30 relative h-full flex flex-col">

			<header>
				<h2 class="text-white pt-40 text-[40px] font-medium">
					Disfrute de Tesla
				</h2>
				<p class="text-white text-sm">
					Programe una prueba de conduccion hoy mismo
				</p>
			</header>
			<footer class="flex flex-col flex-grow justify-end pb-20">
				
			</footer>
		</div>
			
			<div class="absolute top-0 bottom-0 h-full w-full z-10">
				<video
					class="object-center object-cover h-full w-full"
					src="/videos.webm"
					autoplay
					muted
					loop></video>
			</div>
		</section> -->